<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="MySQL_StocksDB" connectionString="server=localhost;user=root;database=stocks_db;port=3306;password=root;" />
  </connectionStrings>
</configuration>